
.title-about {
    font-size: var(--font-medium-size);
    line-height: var(--font-medium-line-height);
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: var(--mini);
  }