:root {
  --background-color: #f7f7f7;
  --white: #fff;
  --light-gray: #e0e0e0;
  --medium-gray: #666666;
  --dark-gray: #212121;

  --type-rock: #b69e31;
  --type-ghost: #70559b;
  --type-steel: #b7b9d0;
  --type-water: #6493eb;
  --type-grass: #74cb48;
  --type-psychic: #fb5584;
  --type-ice: #9ad6df;
  --type-dark: #75574c;
  --type-fairy: #e69eac;
  --type-normal: #aaa67f;
  --type-fighting: #c12239;
  --type-flying: #a891ec;
  --type-poison: #a43e9e;
  --type-ground: #dec16b;
  --type-bug: #a7b723;
  --type-fire: #f57d31;
  --type-electric: #f9cf30;
  --type-dragon: #7037ff;

  --xtiny: 4px;
  --tiny: 8px;
  --small: 12px;
  --mini: 16px;
  --base: 24px;
  --medium: 32px;
  --large: 48px;

  --font-tiny-size: 10px;
  --font-tiny-line-height: 16px;
  --font-small-size: 12px;
  --font-small-line-height: 16px;
  --font-medium-size: 14px;
  --font-medium-line-height: 16px;
  --font-large-size: 24px;
  --font-large-line-height: 32px;
}
