header {
  height: 74px;
  width: 100%;
  padding-left: 5%;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
}

header h1 {
  font-size: var(--font-large-size);
  font-weight: bold;
  margin-left: 16px;
}

.pokeball-icon {
  height: 24px;
  width: 24px;
}

.pokemons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 20px;
  justify-content: center;
}

.filter-panel {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 54px;
  margin-top: 41px;
}

.filter-name {
  width: 502px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid var(--light-gray);
  display: flex;
}

.filter-name .lookfor-icon {
  width: 16px;
  height: 16px;
  margin: 9px 15px 0 9px;
}

.filter-name .filter-textbox {
  width: 455px;
  border: none;
}

.filter-name .filter-textbox:focus {
  outline: none;
}

.filter-shiny {
  height: 35px;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.filter-shiny button {
  display: flex;
  align-items: center;
  border: 1px solid var(--light-gray);
  background-color: white;
  border-radius: 8px;
  padding: 2px 10px;
}

.shiny-text {
  font-size: var(--font-medium-size);
  line-height: var(--font-medium-line-height);
  padding: 3px;
}

.shiny-icon {
  height: 28px;
  width: 28px;
}

.filter-shiny .active {
  color: var(--shiny-color);
  border: 1px solid var(--shiny-color);
}

.filter-shiny .active .shiny-icon {
  filter: invert(24%) sepia(23%) saturate(6680%) hue-rotate(167deg) brightness(92%) contrast(104%);
}

.pokemon-list-container {
  width: 90%;
  margin-left: 5%;
}

footer {
  border-top: 1px solid #E0E0E0;
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

footer .divider {
  width: 1px;
  height: 26px;
  background: var(--light-gray);
  margin: 0 3px 0 16px;
}
