.card {
  width: 300px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  padding: 19px 17px 0px 19px;
}

.pokemon-name {
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  font-weight: bold;
}

.pokemon-number {
  font-size: var(--font-medium-size);
  line-height: var(--font-medium-line-height);
  font-weight: bold;
}

.pokemon-attributes {
  width: 100%;
  height: 240px;
  border-radius: 8px;
  background-color: white;
  padding: 56px 20px 16px 20px;
}

.chip {
  border-radius: 10px;
  padding: 2px 8px;
  font-size: var(--font-small-size);
  color: var(--white);
  line-height: var(--font-small-line-height);
  font-weight: bold;
}

.type-grass {
  background-color: var(--type-grass);
}
.type-rock {
  background-color: var(--type-rock);
}
.type-ghost {
  background-color: var(--type-ghost);
}
.type-steel {
  background-color: var(--type-steel);
}
.type-water {
  background-color: var(--type-water);
}
.type-ice {
  background-color: var(--type-ice);
}
.type-psychic {
  background-color: var(--type-psychic);
}
.type-dark {
  background-color: var(--type-dark);
}
.type-fairy {
  background-color: var(--type-fairy);
}
.type-normal {
  background-color: var(--type-normal);
}
.type-fighting {
  background-color: var(--type-fighting);
}
.type-flying {
  background-color: var(--type-flying);
}
.type-poison {
  background-color: var(--type-poison);
}
.type-ground {
  background-color: var(--type-ground);
}
.type-bug {
  background-color: var(--type-bug);
}
.type-fire {
  background-color: var(--type-fire);
}
.type-electric {
  background-color: var(--type-electric);
}
.type-dragon {
  background-color: var(--type-dragon);
}
