.pokemon-attributes {
  position: relative;
  width: 100%;
  height: 240px;
  border-radius: 8px;
  background-color: white;
  padding: 56px 20px 16px 20px;
}

.poke-image-container {
  position: absolute;
  height: 130px;
  width: 100%;
  top: -90px;
  left: 0;
}

.poke-image-container .poke-image {
  height: 100%;
  margin: auto;
  display: block;
}

.pokemon-data {
  display: flex;
  gap: var(--base);
  justify-content: center;
}

.title-data-group {
  display: flex;
  gap: var(--tiny);
  padding: 10px 0px;
}

.data-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.data-group-subtitle {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  color: var(--medium-gray);
}
.pokemon-description {
  font-size: var(--font-tiny-size);
  line-height: var(--font-tiny-line-height);
  color: var(--dark-gray);
  text-align: justify;
}

.pokemon-data .divider {
  width: 1px;
  height: 52px;
  background: var(--light-gray);
}
