@font-face {
  font-family: Poppins;
  src: url("./styles/fonts/Poppins-Regular.ttf");
  font-weight: var(--font-regular);
}

@font-face {
  font-family: Poppins;
  src: url("./styles/fonts/Poppins-Bold.ttf");
  font-weight: var(--font-bold);
}

body {
  font-family: "Poppins";
}

.fw-bold {
  font-weight: var(--font-bold);
}
